/* 

Base
rgba(27,17,7,0.5);
rgb(27,17,7);

Off white
rgba(245,245,243,0.9);
rgb(245,245,243);

Highlight
rgb(225,175,0);

*/

html {
    font-size: 62.5%;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background: url("img/bg.jpg") no-repeat fixed 50% 50% / cover;
}

h1,h2,h3,h4,h5,h6,h7 {
    font-family: 'Merriweather', serif;
    color: rgb(27,17,7);
}

p {
    color: rgb(27,17,7);
}

a:link, a:visited, a:active {
    color: rgb(225,175,0);
    text-decoration: none;
}

a:hover {
    color: rgb(255,175,0);
    border-bottom: 2px solid;
}

/* GENERAL */

.button:link, .button:visited, .button:active {
    padding: 1rem 1rem;
    border-radius: 6px;
    margin: .2rem .2rem 0 .2rem;
    font-size: 1.6rem;
    background-color: rgb(225,175,0);
    color: rgb(27,17,7);
    text-transform: uppercase;
    transition: all .2s ease-in;
}

.button:hover {
    background-color: #fff;
    border: 0;
}

/* Home */

.home header {
    position: relative;
    height: 66.67vw;
    max-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    display:none;
}

.home header .logo {
    margin: 0;
}

.home header h1 {
    font-size: 2rem;
    color: rgb(245,245,243);
    font-style: bold;
    text-align: center;
    padding: 0;
    position: absolute;
    bottom: 30%;
    left: 0;
    width: 100%;
}

.home header .button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.tiles {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
}

.tiles div {
    flex-basis: 33%;
    margin: 0;
    background-color: rgb(245,245,243);
    box-sizing: border-box;
    padding: .5rem;
    border-radius: 1.3rem;
}

.tiles div p {
    padding: 0 0 0 2.2rem;
    text-indent: -1.2rem;
}

.tiles div p::first-letter {
    font-weight: 700;
}

.tiles div img {
    width: 100%;
    border-radius: 1rem;
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1rem;
    background: rgb(245,245,243);
    padding: 2rem;
    border-radius: 1rem;
}

.news div {
    flex-basis: 100%;
    display: flex;
    margin: 0 0 2rem 0;
}

.news div img {
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
}

.news div p {
    padding: 1rem 1rem 0 1rem;
    text-align: left;
}

@media only screen and (min-width: 480px) {
    .home header {
        padding: 2rem; 
    }
    .home header h1 {
        font-size: 3rem;
    }
    .home header .button {
        font-size: 2rem;
        padding: 2rem 4rem;
    }
    .tiles div p {
        font-size: 1.2rem;
    }
    .news div p {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 768px) {
    .home header {
        padding: 6rem; 
    }
    .home header h1 {
        font-size: 5rem;
    }
    .home header .button {
        bottom: 6rem;
        right: 6rem;
    }
    .tiles div p {
        font-size: 1.6rem;
        padding: 0 0 0 3rem;
        text-indent: -1.6rem;
    }
    .news {
        flex-wrap: nowrap;
    }
    .news div {
        flex-basis: 33%;
    }
    .news div p {
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 1280px) {
    .home {
        max-width: 1280px;
        margin: 0 auto;
    }
}

/* Header */
.logo {
    text-indent: -9999px;
    width: 280px;
    height: 70px;
    margin: 2rem auto;
    background: url("img/logo.svg") no-repeat 50% 50% / cover;
}

@media only screen and (min-width: 1280px) {
   .logo {
        width: 360px;
        height: 80px;
    } 
}

/* Menu */
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    align-items: center;
    text-align: center;
}

nav a:link, nav a:visited, nav a:active {
    width: 100%;
    color: rgb(27,17,7);
    padding: 1rem;
    font-size: 1.6rem;
    background-color: rgb(225,175,0);
    margin: .2rem;
    border-radius: 6px;
    text-transform: uppercase;
}

nav a:hover {
    width: 100%;
    color: rgb(27,17,7);
    padding: 1rem;
    font-size: 1.6rem;
    margin: .2rem;
    text-transform: uppercase;
    background-color: rgba(245,245,243,0.9);
    border: none;
}

nav .selected:link, nav .selected:visited, nav .selected:active {
    background-color: #fff;
}

nav .selected:hover {
    background-color: #fff;
}

nav a:last-child img {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
    margin: -0.2rem .2rem 0 0;
}

@media only screen and (max-width: 568px) {
    nav a:last-child {
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 568px) {
    nav {
        flex-direction: row;
        justify-content: flex-start;
        border-bottom: 1px solid rgb(245,245,243);
    }
    nav a:link, nav a:visited, nav a:active {
        margin: .2rem .2rem 0 .2rem;
        border-radius: 6px 6px 0 0;
        flex-basis: 10rem;
        align-self: flex-end;
    }
    nav a:hover {
        margin: .2rem .2rem 0 .2rem;
        border-radius: 6px 6px 0 0;
        flex-basis: 10rem;
        align-self: flex-end;
    }
    nav a:last-child {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 11rem;
        padding: 1rem .5rem;
        border-radius: 6px;
    }
}

@media only screen and (min-width: 1280px) {
    nav a:last-child {
        width: 12rem;
        padding: 1rem;
    } 
}

/* ANIMAL */

.animals {
    display: flex;
    flex-wrap: wrap;
}


@keyframes showAnimal {
    from { background-color: rgba(245,245,243,0.9); }
    to { background-color: rgba(27,17,7,0); }
}

@keyframes hideAnimal {
    from { background-color: rgba(27,17,7,0); }
    to { background-color: rgba(245,245,243,0.9); }
}

.animal {
    /* background-color: rgba(27,17,7,0.9);*/
    padding: 36px;
    flex-basis: auto;
    width: 100%;
}

.animalOn { animation: showAnimal 200ms forwards ease-in; }
.animalOff { animation: hideAnimal 200ms forwards ease-in; }

.animal.excluded {
    /* display: none; */
}

.animal h1, .animal h4, .animal .desc, .animal .species {
    display: none; /* Tuned off be default */
}

@media only screen and (min-width: 1280px) {
    .animal {
        box-sizing: border-box;
        width: 50%;
    }
}

.animal h1 {
    font-size: 3.6rem;
    line-height: 3.6rem;
    margin: 0 0 0 0;
}

.animal h4 {
    font-size: 1.4rem;
    font-style: italic;
}

.animal .desc {
    font-size: 1.4rem;
}

.animal .species {
    font-size: 1.4rem;
    color: rgba(27,17,7,0.5);
}

.likely {
    font-weight: 700;
}

.species a:link, .species a:visited, .species a:active,
.fancybox-content p a:link, .fancybox-content p a:visited, .fancybox-content p a:active {
    display: inline-block;
    padding: .2rem .8rem;
    margin: 0 0 .2rem 0;
    background: rgb(225,175,0);
    border: none;
    border-radius: 3px;
    color: rgb(27,17,7);
}

.species a:hover,
.fancybox-content p a:hover {
    display: inline-block;
    padding: .2rem .8rem;
    margin: 0 0 .2rem 0;
    border: none;
    border-radius: 3px;
    color: rgb(27,17,7);
    background: #fff;
}

.animal-pics {
    display: flex;
    flex-direction: column;
    /* max-width: 720px; */
}

.animal-pics .column {
    padding: 0;
    margin: 0;
    line-height: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.animal-pics .gallery div  {
    flex-basis: 50%;
}

.gallery a:hover {
    border: none;
    background-color: rgb(225,175,0);
    display: block;
}

.gallery a:hover img {
    opacity: 0.8;
}

@media only screen and (min-width: 568px) {
    .animal-pics {
        flex-direction: row;
    }
    .animal-pics .column {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

.animal-pics .column img, .id .gallery div img  {
    width: 100%;
    height: 100%;
}

.animal-pics .photo {
    position: relative;
    box-sizing: border-box;
    border: 5px solid rgb(225,175,0);
}

.animal-pics .photo .thephoto {
    opacity: 0.1;
}

.animal-pics .photo .show {
    position: absolute;
    top: -.6px;
    right: -.6px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.note {
    color: #999;
}

footer {
    text-align: center;
    margin: 2rem;
}

footer p {
    font-size: 1.2rem;
    color: rgb(245,245,243);
    text-align: center;
}

/* Fancybox tweaks */
.fancybox-content {
    background: transparent;   
}
.fancybox-content p {
    text-align: center;
    font-size: 1.6rem;
    color: rgb(255,255,255);
}
