/* 

Base
rgba(27,17,7,0.5);
rgb(27,17,7);

Off white
rgba(245,245,243,0.9);
rgb(245,245,243);

Highlight
rgb(225,175,0);

*/

html {
    font-size: 62.5%;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background: url("img/bg.jpg") no-repeat fixed 50% 50% / cover;
}

h1,h2,h3,h4,h5,h6,h7 {
    font-family: 'Merriweather', serif;
    color: rgb(27,17,7);
}

p {
    color: rgb(27,17,7);
}

a:link, a:visited, a:hover, a:active {
    color: rgb(225,175,0);
    text-decoration: none;
}

a:hover {
    color: rgb(255,175,0);
    border-bottom: 2px solid;
}

/* Header */
.logo {
    text-indent: -9999px;
    width: 320px;
    height: 80px;
    margin: 2rem auto;
    background: url("img/logo.svg") no-repeat 50% 50% / cover;
}

/* Menu */
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    align-items: center;
    text-align: center;
}

nav a:link, nav a:visited, nav a:hover, nav a:active {
    width: 100%;
    color: rgb(27,17,7);
    padding: 1rem;
    font-size: 1.6rem;
    background-color: rgb(225,175,0);
    margin: .2rem;
    border-radius: 6px;
    text-transform: uppercase;
}

nav a:hover {
    background-color: rgba(245,245,243,0.9);
    border: none;
}

nav .selected:link, nav .selected:visited, nav .selected:hover, nav .selected:active {
    background-color: #fff;
}

nav a:last-child img {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
    margin: -0.2rem .2rem 0 0;
}

@media only screen and (min-width: 568px) {
    nav {
        flex-direction: row;
        justify-content: flex-start;
        border-bottom: 1px solid rgb(245,245,243);
    }
    nav a:link, nav a:visited, nav a:hover, nav a:active {
        margin: .2rem .2rem 0 .2rem;
        border-radius: 6px 6px 0 0;
        flex-basis: 10rem;
        align-self: flex-end;
    }
    nav a:last-child {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 12rem;
        border-radius: 6px;
    }
}

/* ANIMAL */

.animals {
    display: flex;
    flex-wrap: wrap;
}


@keyframes showAnimal {
    from { background-color: rgba(245,245,243,0.9); }
    to { background-color: rgba(27,17,7,0); }
}

@keyframes hideAnimal {
    from { background-color: rgba(27,17,7,0); }
    to { background-color: rgba(245,245,243,0.9); }
}

.animal {
    /* background-color: rgba(27,17,7,0.9);*/
    padding: 36px; 
}

.animalOn { animation: showAnimal 200ms forwards ease-in; }
.animalOff { animation: hideAnimal 200ms forwards ease-in; }

.animal.excluded {
    /* display: none; */
}

.animal h1, .animal h4, .animal .desc, .animal .species {
    display: none; /* Tuned off be default */
}

@media only screen and (min-width: 1280px) {
    .animal {
        box-sizing: border-box;
        flex-basis: 50%;
    }
}

.animal h1 {
    font-size: 3.6rem;
    line-height: 3.6rem;
    margin: 0 0 0 0;
}

.animal h4 {
    font-size: 1.4rem;
    font-style: italic;
}

.animal .desc {
    font-size: 1.4rem;
}

.animal .species {
    font-size: 1.4rem;
    color: rgba(27,17,7,0.5);
}

.likely {
    font-weight: 700;
}

.species a:link, .species a:visited, .species a:hover, .species a:active {
    display: inline-block;
    padding: .2rem .8rem;
    margin: 0 0 .2rem 0;
    background: rgb(225,175,0);
    border: none;
    border-radius: 3px;
    color: rgb(27,17,7);
}

.species a:hover {
    background: #fff;
}

.animal-pics {
    display: flex;
    flex-direction: column;
    /* max-width: 720px; */
}

.animal-pics .column {
    padding: 0;
    margin: 0;
    line-height: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.animal-pics .gallery div  {
    flex-basis: 50%;
}

.gallery a:hover {
    border: none;
    background-color: rgb(225,175,0);
    display: block;
}

.gallery a:hover img {
    opacity: 0.8;
}

@media only screen and (min-width: 568px) {
    .animal-pics {
        flex-direction: row;
    }
    .animal-pics .column {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

.animal-pics .column img, .id .gallery div img  {
    width: 100%;
    height: 100%;
}

.animal-pics .photo {
    position: relative;
    box-sizing: border-box;
    border: 5px solid rgb(225,175,0);
}

.animal-pics .photo .thephoto {
    opacity: 0.1;
}

.animal-pics .photo .show {
    position: absolute;
    top: -.5px;
    right: -.5px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

footer {
    text-align: center;
    margin: 2rem;
}

footer p {
    font-size: 1.2rem;
    color: rgb(245,245,243);
    text-align: center;
}


